.ChatInput {
    width: 90%;
    display: block;
    margin: auto;

    input{
        padding: 10px;
        margin: 0;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 95%;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
}